.card {
    background-color: white;
    border-radius: 10px;
    height: 185px;
    width: calc(100% - 50px);
    max-width: 331px;
    padding: 25px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //
    &__content {
        color: $cs-darkBlue;
        line-height: 1.4em;
        font-size: .8em;
        & p {
            //margin-top: .5em;
            opacity: 0.5;
        }
    }
    &__svg {
        align-self: flex-end;
        margin-right: 0;
        margin-bottom: 0;
    }
    &.super {
        @include shadowIn($cp-cyan);
    }
    &.team {
        @include shadowIn($cp-red);
    }
    &.karma {
        @include shadowIn($cp-orange);
    }
    &.calc {
        @include shadowIn($cp-blue);
    }
}

@media (min-width:$mq-md) {
    .card {
        margin-bottom: 0;
        width: calc(100% - 100px);
    }
}

@media (min-width:$mq-lg) {
    .card {
        margin: 15px auto;
        &:first-child,
        &:last-child {
            margin-top: 150px;
        }
    }
}